@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
 
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
/*Body*/
body{
    background-color: #12acee;
}
/*Header*/
header {
    background-color: white;
    padding: 20px;
}
/*Container*/
.container{
    background-color: white;
    margin: 30px auto;
    width: 50%;
    padding-left: 10px;

}
/*Button*/
.button {
    all: unset;
    color: #12acee;
    border: 1px solid #12acee;
    padding: 8px 24px;
    border-radius: 5px;
  }
  .active {
    background-color: #12acee;
    color: white;
  }
  /*Top*/
  .top{
    padding: 32px;
    border-bottom: 2px solid #12acee
  }
  .mid{
    padding: 32px;
    border-bottom: 2px solid #12acee
  }